.experienceContainer {
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  margin: 200px 0;
  height: 50rem;
  width: 90rem;
  flex-direction: column;
}

.info {
  box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.9);
}

.desc {
  padding-top: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

.experienceContainer > h1 {
  padding-bottom: 50px;
  display: flex;
}

.info :hover{
  background-color: orange;
}

